body {
    font-family: courier, serif;
}

A:hover {
    color: #999;
    text-decoration: underline;
}

A:link {
    color: #00C;
    text-decoration: none;
}

A:visited {
    color: #FC3;
    text-decoration: none;
}

A:active {
    color: red;
    text-decoration: none;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 0;
    border-color: gray;
}
